.list {
    display:inline-block;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid rgb(197, 156, 227);
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 25px;
}

li[valu="Good"] {
    color: green;
}
li[valu="Neutral"] {
    color: orange;
}
li[valu="Bad"] {
    color: red;
}
li[valu="Total"] {
    color: rgb(100, 56, 51);
}
li[valu="Positive"] {
    color: indigo;
}